<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>

    {{!-- Google Fonts --}}
    <link href="https://fonts.googleapis.com/css?family=Staatliches|Roboto&display=swap" rel="stylesheet">
    {{!-- CSS --}}
    <link rel="stylesheet" href="/css/style1.css">
</head>

<body>

    {{!-- Navigation --}}
    <header>

        <img src="/images/Logo2.png" alt="" id="logo">
        <nav>
            <a href="#" id="menu-icon"><i class="fas fa-bars"></i></a>
            <ul>
                <li><a href="#" class="current">Home</a></li>
                <li><a href="#">Contact</a></li>
            </ul>
        </nav>

    </header>


    {{!-- Showcase --}}
    <div class="showcase">
        <div class="container">
            <div class="showcase-content">
                <h1>Oberlin Concrete Company</h1>
                <h2>Ready Mix Concrete and Professional Construction</h2>
                <a href="#" class="btn">Contact Us <i class="fas fa-chevron-right btn-icon"></i></a>
            </div>
        </div>
    </div>

    {{!-- Services Section --}}
    <div class="servicesSection">
        <div class="container">
            <div class="services-content">
                <h2>Our Services</h2>
                <h3>We're here to Help with all of your concrete construction needs</h3>
            </div>
            <div class="image-box-content">
                <div class="box1"><img src="/images/Concrete.jpg" alt="">
                    <h3>Ready Mix Concrete</h3>
                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Odit, quas dolore itaque porro
                        perferendis tempore nesciunt at, mollitia aspernatur vitae doloremque ullam quod incidunt
                        molestiae quos sunt nihil aut earum.</p>
                </div>
                <div class="box2">
                    <img src="/images/Concrete.jpg" alt="">
                    <h3>Mudjacking</h3>
                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Odit, quas dolore itaque porro
                        perferendis tempore nesciunt at, mollitia aspernatur vitae doloremque ullam quod incidunt
                        molestiae quos sunt nihil aut earum.</p>
                </div>
                <div class="box3"><img src="/images/Concrete.jpg" alt="">
                    <h3><i class="fas fa-clock"></i>&nbspBusiness Hours</h3>
                    <ul class="hours">
                        <p><span style="font-weight: 700">Monday:</span>&nbsp8:00 AM -
                            5:00
                            PM</p>
                        <p><span style="font-weight: 700">Tuesday-Sunday: Closed</span>
                        </p>
                    </ul>
                </div>
            </div>
        </div>
    </div>

    {{!-- Get A Quote Section --}}
    <div class="quoteSection">
        <div class="quote-content">
            <h2>We turn your ideas into concrete</h2>
            <a href="#" class="btn-outline">GET A QUOTE <i class="fas fa-chevron-right btn-icon"></i></a>
        </div>
    </div>

    {{!-- Calculator Section --}}

    <div class="calculatorSection">
        <div class="container">
            <div class="calculator-content">
                <h2>Concrete Estimate Calculator</h2>
                <p>Please enter your specific details below for a rough estimate on the amount of concrete needed for
                    your project </p>
            </div>
            <div class="calculator">
                <p>1</p>
                <p>2</p>
                <p>3</p>
                <p>4</p>
                <p>5</p>
                <p>6</p>
                <p>7</p>
                <p>8</p>
                <p>9</p>
                <p>10</p>
                <p>11</p>
                <p>12</p>
            </div>
        </div>
    </div>

    {{!-- Footer --}}

    <div class="footerSection">
        <div class="footer-overlay">
            <div class="container">
                <div class="footer-content">
                    <div class="footer1">
                        <img src="/images/Logo2.png" alt="" id="footer-logo">
                        <p>Choose Oberlin Concrete for all of your concrete and custom construction needs.</p>
                    </div>
                    <div class="footer2">
                        <h3>Links</h3>
                        <p>Home</p>
                        <p>Contact</p>
                    </div>
                    <div class="footer3">
                        <h3><i class="fas fa-clock"></i>&nbspBusiness Hours</h3>
                        <ul class="hours">
                            <p><span style="font-weight: 700">Monday:</span>8:00
                                AM -
                                5:00
                                PM</p>
                            <p><span style="font-weight: 700">Tuesday-Sunday:
                                    Closed</span>
                            </p>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="copyrightSection">
        <div class="container">
            <div class="copyright">
                <h6>2019 © Oberlin Concrete Company</h6>
            </div>
        </div>
    </div>

    {{!-- Font Awesome --}}
    <script src="https://kit.fontawesome.com/3e3e4dd88c.js"></script>
</body>

</html>