<!-- Row for displaying the answer of calculator-->
<section class="container-fluid calculator-answer">
    <div class="col-sm-3">
        <div class="answer-box"
             id="cubic-yards">
            <h4>Total Cubic Yardage:</h4>
            <span id="cubic-yards-answer">{{this.answerYards}}</span>
        </div>
    </div>
    <div class="col-sm-3">
        <div class="answer-box"
             id="cubic-feet">
            <h4>Total Cubic Feet:</h4>
            <span id="cubic-feet-answer">{{this.answerFeet}}</span>
        </div>
    </div>
</section>